{% if section.blocks.size > 0 %}
  <div class="dropdown_container mega-menu mega-menu-1" data-dropdown="{{ section.settings.parent | handleize }}">
    <div class="dropdown menu">
      <div class="dropdown_content {% if section.blocks < 4 %}dropdown_narrow{% endif %}">
        {% for block in section.blocks %}
          <div class="dropdown_column" {{ block.shopify_attributes }}>
            {% if block.type == 'column' %}
              {% comment %}Richtext{% endcomment %}
              {% if block.settings.richtext_top %}
                <div class="mega-menu__richtext">
                  {{ block.settings.richtext_top }}
                </div>
              {% endif %}

              {% comment %}Image with caption and link{% endcomment %}
              {% if block.settings.image_top != nil or block.settings.image_caption_top != blank %}
                <div class="mega-menu__image-caption-link">
                  <a {% if block.settings.image_link_top != blank %}href="{{ block.settings.image_link_top }}"{% endif %} >
                    {% if block.settings.image_top != nil %}
                      <img  src="{{ block.settings.image_top | img_url: '500x' }}"
                            alt="{{ block.settings.image_top.alt | escape }}"
                            class="lazyload {{ settings.image_loading_style }}"
                             />
                    {% endif %}
                    {% if block.settings.image_caption_top %}
                      <p>{{ block.settings.image_caption_top }}</p>
                    {% endif %}
                  </a>
                </div>
              {% endif %}

              {% comment %}Menu 1{% endcomment %}
              {% if block.settings.menu_1 != blank %}
                <div class="dropdown_column__menu">
                  <ul class="dropdown_title">
                    <li>
                      <a {% if block.settings.menu_1_link %}href="{{ block.settings.menu_1_link }}"{% endif %}>{{ linklists[block.settings.menu_1].title }}</a>
                    </li>
                  </ul>
                  {% if linklists[block.settings.menu_1] != empty %}
                    <ul>
                      {% for sublink in linklists[block.settings.menu_1].links %}
                        <li>
                          <a href="{{ sublink.url }}">{{ sublink.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </div>
              {% endif %}

              {% comment %}Menu 2{% endcomment %}
              {% if block.settings.menu_2 != blank %}
                <div class="dropdown_column__menu">
                  <ul class="dropdown_title">
                    <li>
                      <a {% if block.settings.menu_2_link %}href="{{ block.settings.menu_2_link }}"{% endif %}>{{ linklists[block.settings.menu_2].title }}</a>
                    </li>
                  </ul>
                  {% if linklists[block.settings.menu_2] != empty %}
                    <ul>
                      {% for sublink in linklists[block.settings.menu_2].links %}
                        <li>
                          <a href="{{ sublink.url }}">{{ sublink.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </div>
              {% endif %}

              {% comment %}Menu 3{% endcomment %}
              {% if block.settings.menu_3 != blank %}
                <div class="dropdown_column__menu">
                  <ul class="dropdown_title">
                    <li>
                      <a {% if block.settings.menu_3_link %}href="{{ block.settings.menu_3_link }}"{% endif %}>{{ linklists[block.settings.menu_3].title }}</a>
                    </li>
                  </ul>
                  {% if linklists[block.settings.menu_3] != empty %}
                    <ul>
                      {% for sublink in linklists[block.settings.menu_3].links %}
                        <li>
                          <a href="{{ sublink.url }}">{{ sublink.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </div>
              {% endif %}

              {% comment %}Menu 4{% endcomment %}
              {% if block.settings.menu_4 != blank %}
                <div class="dropdown_column__menu">
                  <ul class="dropdown_title">
                    <li>
                      <a {% if block.settings.menu_4_link %}href="{{ block.settings.menu_4_link }}"{% endif %}>{{ linklists[block.settings.menu_4].title }}</a>
                    </li>
                  </ul>
                  {% if linklists[block.settings.menu_4] != empty %}
                    <ul>
                      {% for sublink in linklists[block.settings.menu_4].links %}
                        <li>
                          <a href="{{ sublink.url }}">{{ sublink.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </div>
              {% endif %}

              {% comment %}Image with caption and link{% endcomment %}
              {% if block.settings.image_bottom != nil or block.settings.image_caption_bottom != blank %}
                <div class="mega-menu__image-caption-link">
                  <a {% if block.settings.image_link_bottom != blank %}href="{{ block.settings.image_link_bottom }}"{% endif %} >
                    {% if block.settings.image_bottom != nil %}
                      <img  src="{{ block.settings.image_bottom | img_url: '500x' }}"
                            alt="{{ block.settings.image_bottom.alt | escape }}"
                            class="lazyload {{ settings.image_loading_style }}"
                             />
                    {% endif %}
                    {% if block.settings.image_caption_bottom %}
                      <p>{{ block.settings.image_caption_bottom }}</p>
                    {% endif %}
                  </a>
                </div>
              {% endif %}

              {% comment %}Richtext{% endcomment %}
              {% if block.settings.richtext_bottom %}
                <div class="mega-menu__richtext">
                  {{ block.settings.richtext_bottom }}
                </div>
              {% endif %}

            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  
{% endif %}

{% schema %}

{
  "name": "Méga menu 1",
  "class": "mega-menu-section",
  "max_blocks": 5,
  "settings": [
    {
      "type": "text",
      "id": "parent",
      "label": "Nom du menu",
      "info": "Mettre le même titre que le menu que vous souhaitez voir apparaitre"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Colonne du Sous-menu",
      "settings": [
        {
          "type": "header",
          "content": "Contenu en haut"
        },
        {
          "type": "richtext",
          "id": "richtext_top",
          "label": "Zone de texte"
        },
        {
          "type": "image_picker",
          "id": "image_top",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "image_caption_top",
          "label": "Texte sous l'image"
        },
        {
          "type": "url",
          "id": "image_link_top",
          "label": "Lien de l'image"
        },
        {
          "type": "header",
          "content": "Navigation"
        },
        {
          "type": "link_list",
          "id": "menu_1",
          "label": "Menu 1"
        },
        {
          "type": "url",
          "id": "menu_1_link",
          "label": "Menu 1 Lien",
          "info": "Mettre un lien sur le titre du menu"
        },
        {
          "type": "link_list",
          "id": "menu_2",
          "label": "Menu 2"
        },
        {
          "type": "url",
          "id": "menu_2_link",
          "label": "Menu 2 Lien",
          "info": "Mettre un lien sur le titre du menu"
        },
        {
          "type": "link_list",
          "id": "menu_3",
          "label": "Menu 3"
        },
        {
          "type": "url",
          "id": "menu_3_link",
          "label": "Menu 3 Lien",
          "info": "Mettre un lien sur le titre du menu"
        },
        {
          "type": "link_list",
          "id": "menu_4",
          "label": "Menu 4"
        },
        {
          "type": "url",
          "id": "menu_4_link",
          "label": "Menu 4 Lien",
          "info": "Mettre un lien sur le titre du menu"
        },
        {
          "type": "header",
          "content": "Contenu en bas"
        },
        {
          "type": "image_picker",
          "id": "image_bottom",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "image_caption_bottom",
          "label": "Image Description"
        },
        {
          "type": "url",
          "id": "image_link_bottom",
          "label": "Image Lien"
        },
        {
          "type": "richtext",
          "id": "richtext_bottom",
          "label": "Zone de texte"
        }
      ]
    }
  ]
}

{% endschema %}